body {
  padding-top: 110px;
  height: auto;
}
.navbar-custom-style {
  background: #47ced3 !important;
  padding: 20px 10px !important;
}
.icon {
  margin-top: 1rem;
  font-size: 2rem;
}
.my-brand {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 20px !important;
  font-weight: 600;
}
.nav-link {
  color: white !important;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  padding: 3px 10px !important;
}
.nav-item {
  margin: 0 1rem;
}
.nav-link:hover {
  background-color: rgb(22, 22, 63);
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .nav-link {
    width: 100%;
    text-align: center;
    padding: 0.8rem 0 !important;
  }
  .nav-link:hover {
    color: rgb(22, 22, 63) !important;
    background-color: transparent !important;
  }
}
.spiner {
  font-size: 2rem;
  animation-iteration-count: 1 !important;
}
.form-custom {
  display: flex;
  flex-direction: column;
}
.c-label {
  color: rgb(22, 22, 63) !important;
  font-size: 19px;
  font-weight: 600;
}
.custom-input {
  height: 80px !important;
}
.map {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c3c1c1;
}
.icons {
  font-size: 3rem !important;
}
